<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'logout' %}">logout</a>
    <h1>Welcome 2 notelist</h1>
    <a href="{% url 'addNote' %}">Add a note</a>
    {% for note in notes %}
        <a href="{% url 'noteDetail' note.id %}">
            <div>
                <p>{{note.body}}</p>
                <p>{{note.dateCreated}}</p>
            </div>
            
        </a>
       
    {% endfor %}
</body>
</html>