<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Note</h1>
    <a href="{% url 'notelist' %}">Notes</a>
    <form method="post">
        {% csrf_token %}
        <label>body:</label>
        <input type="text" name="body" value="{{note.body}}">
    </form>
    <a href="{% url 'deleteNote' note.id %}">delete this note</a>
</body>
</html>